/* NOTE: A TODO comment might apply to more than one instance in your code, e.g. you might need to check all your code for duplicates. */
/* TODO Remove redundant rules */
/* TODO group similar rules, you can just group selectors or even better experiment with the atomic CSS */
/* TODO Use inheritance */

:root {
  --primary: #0075a1;
  /* applies to spinner, form elements and links */
  --secondary: #004c6d;
  /* applies to header */
  --nav-background-color: #0d5d80;
  --nav-accent: #1a6a8d;
  /* applies to navigation borders and navigation item hover, focus and active state */
  --footer-color: #8aa9b7;
  --body-color: #333;
  --border-color: #ccc;
  --table-accent: #f5f5f5;
  /* applies to table row zebra-striping style */
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: var(--body-color);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.whole-page {
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: white;
}

.header {
  display: flex;
  height: 11vh;
  background-color: var(--secondary);
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
}

#dropdown {
  display: none;
}

.burger {
  align-items: center;
  display: none;
  width: 40px;
  height: 40px;
}

.header-start {
  display: flex;
  width: 20%;
  padding: 0px 30px;
  align-items: center;
  z-index: 2;
  font-size: 2.3vw;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-img {
  background-color: #fff;
  width: 2rem;
}

.logo-img:hover {
  cursor: pointer;
}

.logo-txt {
  margin: 0 25px;
}

.logo-txt:hover {
  cursor: pointer;
}

.btn-icon {
  margin: auto;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-title > .title,
.header-title > .header-end {
  height: 50%;
  display: flex;
  align-items: center;
}

.title {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.2vw;
  position: relative;
}

.header-end {
  display: flex;
  padding: 0 3rem;
}

.logout-txt {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 1.2vw;
}

.avatar {
  background-color: #fff;
  border-radius: 100%;
  padding: 5px;
}

.nav-bar {
  background-color: var(--nav-background-color);
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89vh;
  padding-bottom: 1rem;
}

.menu-items {
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Note: .menu-link is be better than a */
.menu-link {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 7% 10% 3%;
}
/* TODO focus state */
.menu-items > a:hover {
  cursor: pointer;
  background-color: var(--nav-accent);
}

.active-link {
  background-color: var(--nav-accent);
}

.footer {
  text-align: center;
  color: var(--footer-color);
  font-size: 1rem;
}

.horizontal-container {
  display: flex;
}

/*Main screen starts here */

.main-screen {
  color: black;
  width: 100%;
  margin: 0;
}

.main-screen-content {
  height: 100%;
  padding: 2% 8%;
}

.main-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.main-head-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.main-head-mini-wrapper {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  width: 6rem;
}

.main-head-top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.data {
  color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
}

.colours-data {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.blurb {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 15px;
}

/* TODO Review rule set */

.color-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: white;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.5;
  background: rgba(0, 151, 20, 0.226);
  padding: 0 5%;
}

.color-info:hover {
  opacity: 1;
}

.color-code {
  filter: brightness(40%);
  font-size: 2rem;
}

.delete-btn {
  background-color: var(--primary);
  text-transform: uppercase;
  color: var(--table-accent);
  padding: 10px 20px;
  border: 1px solid currentColor;
  font-size: 1.1rem;
}

.delete-btn:disabled {
  background-color: var(--footer-color);
}

.delete-btn:hover {
  cursor: pointer;
}

.not-visible {
  display: none;
}

.data-table {
  /* margin: 5% 0; */
  width: 100%;
}

.table-responsive {
  display: none;

  overflow-x: auto;
  width: 100%;

  -webkit-overflow-scrolling: touch;
}

.td {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: var(--table-accent);
}

.table-head {
  font-size: 25px;
  height: 6vh;
}

.table-head th {
  text-align: left;
  width: 2%;
  border-bottom: 2px solid var(--border-color);
}

.td {
  font-size: 1.5rem;
  color: var(--body-color);
  padding: 1.5vh 0;
}

.loader {
  border: 16px solid var(--nav-background-color);
  border-radius: 50%;
  border-top: 16px solid var(--table-accent);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-msg {
  color: var(--body-color);
  font-size: 2rem;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .menu-items li {
    font-size: 6vw;
    padding: 30px 0;
  }
  .main-heading {
    font-size: 4vw;
  }
  .title,
  .logout-txt {
    font-size: 2.5vw;
  }
  .main-screen {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
  }
  .main-head-top-text {
    width: 100%;
  }
  .table-head {
    font-size: 1rem;
  }
  td.td {
    font-size: 0.8rem;
  }
  .main-screen-content {
    padding: 2% 0;
  }
  .color-code {
    font-size: 1rem;
  }
  .color-info p {
    font-size: 2vw; /* TODO */
  }
  .table-responsive {
    /* display: block; */
    /* width: 90%; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (max-width: 730px) {
  .burger {
    display: block;
    font-size: 1rem;
  }

  .logo-txt,
  .logout-txt {
    display: none;
  }

  .header {
    padding: 0 2%;
  }

  .menu-items a {
    font-size: 1rem;
  }

  .main-head-mini-wrapper {
    font-size: 3vw;
    width: 18%;
  }
  .main-heading {
    font-size: 6vw;
  }
  .title {
    padding: 0;
    left: 30%;
    font-size: 4.5vw;
  }

  .delete-btn {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .nav-bar {
    position: fixed;
    z-index: 5;
    width: 70%;
    /* transform: translateX(calc(-100vh)); */
    transform: translate3d(-80vw, 0, 0);
    /* TODO */
    transition: transform 0.25s ease-in;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
  }

  .nav-bar-open {
    transform: translateX(calc(0vh));
    transform: translate3d(0vw, 0, 0);
    transition: transform 0.35s ease-in;
    /* transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-delay: 0s; */
  }

  .main-screen-content {
    padding: 2% 5%;
  }
  .main-screen {
    width: 100%;
    margin: auto;
  }

  .table-responsive {
    width: 100%;
  }

  table th {
    font-size: 13px;
  }

  td.td {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 1.8vw;
  }
  .blurb {
    width: 50%;
  }
  .header-end {
    padding: 0;
  }
  .footer {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 570px) {
  .burger {
    height: 30px;
    width: 30px;
  }
  .delete-btn {
    font-size: 0.6rem;
  }

  .delete-btn {
    font-size: 0.9rem;
    padding: 5px 5px;
  }
}
